<?xml version='1.0' encoding='utf-8'?>
<widget id="com.greencoinx.XGCMobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GreenCoinX</name>
    <description>
        GreenCoinX - an identifiable digital currency
    </description>
    <author email="admin@greencoinx.com" href="https://greencoinx.com">
        GreenCoinX
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
